<div class="form_wrapper">
    <%= simple_form_for(@labour) do |f| %>
      <div class="part1">
        <%= f.input :name %>
        <%= f.input :labour_start, as: :select, collection: Action::LABOUR_START %>
        <%= f.input :artificial_labour, as: :select, collection: Action::ARTIFICIAL_LABOUR %>
        <%= f.input :labour_drugs, as: :select, collection: Action::LABOUR_DRUGS %>

      </div>
      <div class="part2">
        <%= f.input :labour_end, as: :select, collection: Action::LABOUR_END %>
        <%= f.input :labour_complication, as: :radio_buttons, collection: ['oui', 'non'] %>
        <%= f.input :labour_complication_type, as: :select, collection: Action::LABOUR_COMPLICATION_TYPE %>
        <%= f.input :labour_actes, as: :select, collection: Action::LABOUR_ACTES %>
      </div>
      <div class="part3">
        <%= f.input :anaesthesia_category, as: :select, collection: Action::ANAESTHESIA_CATEGORY %>
        <%= f.input :anaesthesia_general, as: :select, collection: Action::ANAESTHESIA_GENERAL %>
        <%= f.input :labour_actes, as: :select, collection: Action::LABOUR_ACTES %>
      </div>
      <div class="part4">

      </div>
      <div class="part5">

        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
