<div class= "container-form">

  <div class="form_wrapper">
    <%= simple_form_for(@labour) do |f| %>
      <div class="part1">
        <%= f.hidden_field :patient_id  %>
        <%= f.hidden_field :category_id %>
        <%= f.input :labour_start_at, label: "Début de l'accouchement" %>
        <%= f.input :labour_start,                          
                    collection:Labour::LABOUR_START,           
                    include_hidden: false,
                    label: 'Mode de début du travail',
                    as: :radio_buttons,
                    input_html: { class: "tag-selector" },
                    item_wrapper_class: 'tag-item' %>

        <%= f.input :artificial_labour, label: 'Motif de déclenchement artificiel', as: :select, input_html: { class: "select2" }, collection: Labour::ARTIFICIAL_LABOUR, include_hidden: false%>

        <%= f.input :labour_drugs, label: 'Moyens utilisés', as: :check_boxes, collection: Labour::LABOUR_DRUGS, include_hidden: false %>
      </div>
      <div class="part2">
        <%= f.input :labour_end_at, label: "Fin de l'accouchement" %>
        <%= f.input :labour_end, label: 'Délivrance', as: :select, collection: Labour::LABOUR_END, include_hidden: false %>
        <%= f.input :labour_complication, label: 'Complications', as: :radio_buttons, collection: ['oui', 'non'] %>
        <%= f.input :labour_complication_type, label: 'Complications de la délivrance', as: :check_boxes, collection: Labour::LABOUR_COMPLICATION_TYPE, include_hidden: false %>
        <%= f.input :labour_actes, label: 'Actes de la délivrance', as: :check_boxes, collection: Labour::LABOUR_ACTES, include_hidden: false %>
      </div>
      <div class="part3">
        <%= f.input :anaesthesia_category, label: 'Type d\'anésthésie', as: :select, collection: Labour::ANAESTHESIA_CATEGORY, include_hidden: false %>
        <%= f.input :anaesthesia_moment, as: :select, collection: Labour::ANAESTHESIA_MOMENT, include_hidden: false %>
        <%= f.input :anaesthesia_loco_general,  as: :select, collection: Labour::ANAESTHESIA_LOCO_GENERAL, include_hidden: false %>
        <%= f.input :anaesthesia_general,  as: :select, collection: Labour::ANAESTHESIA_GENERAL, include_hidden: false %>
      
      </div>
      <div class="part4">
      </div>
      <div class="part5">
        <%= f.submit "Enregistrer l'accouchement" %>
      </div>
    <% end %>
  </div>
</div>