<div class="form_wrapper">
    <%= simple_form_for(@labour) do |f| %>
      <div class="part1">
        <%= f.input :labour_start_at %>
        <%= f.input :labour_start,  as: :select, collection: Labour::LABOUR_START %>
        <%= f.input :labour_end, as: :select, collection: Labour::LABOUR_END %>
        <%= f.input :labour_end_at %>
        <%= f.input :artificial_labour, as: :select, collection: Labour::ARTIFICIAL_LABOUR %>
        <%= f.input :labour_drugs, as: :check_boxes, collection: Labour::LABOUR_DRUGS %>

      </div>
      <div class="part2">
        <%= f.input :labour_complication, as: :radio_buttons, collection: ['oui', 'non'] %>
        <%= f.input :labour_complication_type, as: :check_boxes, collection: Labour::LABOUR_COMPLICATION_TYPE %>
        <%= f.input :labour_actes_done, as: :radio_buttons, collection: ['oui', 'non'] %>
        <%= f.input :labour_actes, as: :check_boxes, collection: Labour::LABOUR_ACTES %>
      </div>
      <div class="part3">
        <%= f.input :anaesthesia_category, as: :select, collection: Labour::ANAESTHESIA_CATEGORY %>
        <%= f.input :anaesthesia_general, as: :select, collection: Labour::ANAESTHESIA_GENERAL %>
        <%= f.input :anaesthesia_loco_general, as: :select, collection: Labour::ANAESTHESIA_LOCO_GENERAL %>
        <%= f.input :anaesthesia_moment, as: :select, collection: Labour::ANAESTHESIA_MOMENT %>
      </div>
      <div class="part4">

      </div>
      <div class="part5">

        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
