 <h3> Accouchement de <%= "#{@labour.patient.first_name} #{@labour.patient.last_name}" %> </h3>
 
  <% b = @labour.labour_start_at %>
  <% e = @labour.labour_end_at %>
  <% @duration = ((e - b)/3600).round %>
  <% @labourbegin = b.strftime("Déclenchement: %d/%m/%Y à %Hh%M") %>
  <% @labourend = e.strftime("Délivrance: %d/%m/%Y à %Hh%M") %>
  <% @actesdelivrance = @labour.labour_actes.join(", ").downcase %>

  <ul>
    <li> Durée de l'accouchement: <%=@duration%> heures</li>
    <li><%= "Age gestationnel à l'accouchement: #{@labour.patient.number_of_weeks} semaines" %></li>
    <li> <%= "Mode de début du travail :#{@labour.labour_start}" %></li>
    <li> <%= "Motif de déclenchement artificiel:#{@labour.artificial_labour}" %> </li>
    <li> <%= "Moyens utilisés: #{@labour.labour_drugs}" %> </li>
    <li><%= "#{@labourbegin}" %></li>
    <li> <%= "#{@labourend}" %> </li>
    <li> <%= "Type et modalité de la délivrance:#{@labour.labour_end}" %></li>
    <li> <%= "Anesthésie: #{@labour.anaesthesia}" %> </li>
    <li> <%= "Type d'anésthésie: #{@labour.anaesthesia_category}, #{@labour.anaesthesia_general}, #{@labour.anaesthesia_loco_general}" %> </li>
    <li> <%= "Complication de l'anesthésie: #{@labour.anaesthesia_complication}" %> </li>
    <li> <%= "Moment de l'anesthésie: #{@labour.anaesthesia_moment}" %> </li>
    <li> <%= "Complications: #{@labour.labour_complication}" %> </li>
    <li> <%= "Complications de la délivrance: #{@labour.labour_complication_type}" %> </li>
    <li> <%= "Actes : #{@labour.labour_actes_done}" %> </li>
    <li> <%= "Actes de la délivrance : #{@actesdelivrance}" %> </li>
    
    
  </ul>