<div class="container-dashboard">
  <div class="container-summary">
    <h3> Résumé de l'accouchement de <span class="name-patient"><%= "#{@labour.patient.first_name} #{@labour.patient.last_name}" %></span></h3>
    <div class= "summary-labour">
      <% b = @labour.labour_start_at %>
      <% e = @labour.labour_end_at %>
      <% @duration = ((e - b)/3600).round %>
      <% @labourbegin = b.strftime("%d/%m/%Y à %Hh%M") %>
      <% @labourend = e.strftime("%d/%m/%Y à %Hh%M") %>
      <% @actesdelivrance = @labour.labour_actes.join(", ").downcase %>
      <% @complicationdelivrance = @labour.labour_complication_type.join(", ").downcase %>
      <% @moyensutilises = @labour.labour_drugs.join(", ").downcase %>

      <div class= "summary-step">
        <p><span class="number"> 1 </span> Accouchement</p>
          <ul>
            <li>Age gestationnel à l'accouchement : <span class="form-reply"><%= @labour.patient.number_of_weeks %> semaines</span></li>
            <li>Mode de début du travail : <span class="form-reply"><%= @labour.labour_start %></span></li>

            <% if @labour.artificial_labour != "" %>
              <li>Motif de déclenchement artificiel : <span class=""><%= @labour.artificial_labour %></span></li>
            <% end %>

            <% if @labour.labour_drugs.any? %>
              <li>Moyens utilisés : <span class="form-reply"><%= @moyensutilises %></span></li>
            <% end %>
          </ul>
      </div>

      <div class= "summary-step">
        <p><span class="number"> 2 </span>Anésthésie</p>
          <ul>
            <% if @labour.anaesthesia %>
              <li>Anesthésie : <span class="form-y-n"> oui </span></li>
            <% else %>
              <li>Anesthésie : <span class="form-y-n"> non </span></li>
            <% end %>
            <li>Type d'anésthésie : <span class="form-reply"><%= "#{@labour.anaesthesia_category} #{@labour.anaesthesia_general} #{@labour.anaesthesia_loco_general}" %></span></li>
            <li>Moment de l'anesthésie : <span class="form-reply"><%= @labour.anaesthesia_moment %></span></li>
            <% if @labour.anaesthesia_complication %>
              <li> Complication de l'anesthésie : <span class="form-y-n"> oui </span></li>
            <% else %>
              <li> Complication de l'anesthésie : <span class="form-y-n"> non </span></li>
            <% end %>
          </ul>
      </div>

      <div class= "summary-step">
        <p><span class="number"> 3 </span>Délivrance</p>
          <ul>
            <li>Déclenchement : <span class="form-reply"> <%= @labourbegin %></span></li>
            <li>Délivrance : <span class="form-reply"> <%= @labourend %></span></li>

            <li> Durée de l'accouchement : <span class="form-reply"><%= @duration%> heures</span></li>
            <% if @labour.labour_end %>
              <li>Type et modalité de la délivrance : <span class="form-reply"><%= @labour.labour_end %></span></li>
            <% end %>
            <% if @labour.labour_complication %>
              <li>Complication de la délivrance : <span class="form-y-n"> oui </span></li>
            <% else %>
              <li>Complication de la délivrance : <span class="form-y-n"> non </span></li>
            <% end  %>

            <% if @labour.labour_actes_done %>
              <li>Actes : <span class="form-y-n"> oui </span></li>
              <li> Actes de la délivrance : <span class="form-reply"><%= @actesdelivrance %></span></li>
            <% else %>
              <li>Actes : <span class="form-y-n"> non </span></li>
              <li> Actes de la délivrance : <span class="form-y-n"> non </span></li>
            <% end  %>

          </ul>
      </div>

    </div>
    <%= link_to(patient_path(@patient)) do %>
      <button class= "btn btn-ghost end" >Confirmez</button>
    <% end %>
  </div>
</div>
