<div class="sidebar">
  <div class="top-sidebar">
    <%= link_to root_path  do %>
        <%= image_tag "logo.png", class:"logo-sidebar" %>
    <% end %>
  </div>
    <ul>
      <%= link_to(new_patient_path) do %>
        <li class="action1">
          <span class="icone"><i class="fas fa-user-plus"></i></span>
          <span class="label">Admission</span>
        </li>
      <% end %>
      

      <li class="action2"><a href="#"><span class="icone"><i class="fas fa-stethoscope"></i></span><span class="label">Consultation</span></a></li>

      <li class="action3"><a href="#"><span class="icone"><i class="fas fa-clinic-medical"></i></span><span class="label">Hospitalisation</span></a></li>

      <li class="action4 <%= "sidebar-active" if params[:category]%>" id="baby-sidebar">
            <% @categories = Category.all %>
            <% @categories.each do |categorie|%>
               <% if categorie.name == "Naissance"%>
                  <% @naissance = categorie %>
                  <%= link_to dashboard_path(category: @naissance.id), data: {category: @naissance.id}  do %>
                  <span class="icone"><i class="fas fa-baby"></i></span><span class="label"> Naissance</span>
                  <% end %>
               <% end %>
            <% end %>
          </li>

      <li class="action5"><a href="#"><span class="icone"><i class="fas fa-prescription-bottle-alt"></i></span><span class="label">Pharmacie</span></a></li>

      <li class="action6"><a href="#"><span class="icone"><i class="fas fa-print"></i></span><span class="label">Impression</span></a></li>

   </ul>
</div>


