<div class="dashboard-container">
  <div class="container-dashboard">
    <div class="card-product" id= "welcome-message">
      <div class="card-product-infos">
        <h2>Bonjour <%= current_user.first_name %></h2>
        <p>Passez une belle journée !</p>
      </div>
      <div class="card-image">
        <img src="https://cdn.dribbble.com/users/1355613/screenshots/6637974/doctor.jpg" />
      </div>
    </div>

    <div class="info-dashboard">
      <div class="left-content">
        <div class="stat-cards">
          <div class="stat-card">
            <div class="stat-card-title">
              <p>Accouchements</p>
              <i class="fas fa-ellipsis-v"></i>
            </div>
            <div class="stat-card-info">
              <h1 id ="labours-count"><%= @labours.count %></h1>
              <p>Sur 12 mois</p>
            </div>
          </div>
          <div class="stat-card">
            <div class="stat-card-title">
              <p>Naissances</p>
              <i class="fas fa-ellipsis-v"></i>
            </div>
            <div class="stat-card-info">
              <h1 id="babies-count"><%= @babies.count %></h1>
              <p>Sur 12 mois</p>
            </div>
          </div>
        </div>
        <div class="patients">
          <div class="patients-title">
            <div class="patients-title-info">
              <h4><%= @patients.count %> <span>Patients</span></h4>
            </div>
          </div>
          <div id="list-of-patients">
            <%= render 'shared/patients-list-dashboard' %>
          </div>
        </div>
      </div>
      <div class="right-content">
        <div class="calendar">
          <input type="text" class="datepicker d-none">
        </div>
        <div class="buttons">
          <%= link_to(dashboard_path) do %>
            <button type="button" class="button-action1">
              <i class="fas fa-user-plus fa-sm"></i><span>Admission</span>
            </button>
          <% end %>

          <%= link_to(dashboard_path) do %>
            <button type="button" class="button-action2">
              <i class="fas fa-stethoscope fa-sm"></i><span>Consultation</span>
            </button>
          <% end %>

          <% @categories.each do |categorie|%>
             <% if categorie.name == "Naissance"%>
                <% @naissance = categorie %>
                <%= link_to dashboard_path(category: @naissance.id)  do %>
                  <button type="button" class="button-action3">
                    <i class="fas fa-baby fa-sm"></i><span>Naissance</span>
                  </button>
                <% end %>
            <% end %>
          <% end %>

          <%= link_to(dashboard_path) do %>
            <button type="button" class="button-action4">
              <i class="fas fa-clinic-medical fa-sm"></i><span>Hospitalisation</span>
            </button>
          <% end %>

          <%= link_to(dashboard_path) do %>
            <button type="button" class="button-action5">
              <i class="fas fa-prescription-bottle-alt fa-sm"></i><span>Pharmacie</span>
            </button>
          <% end %>

          <%= link_to(dashboard_path) do %>
            <button type="button" class="button-action6">
              <i class="fas fa-print fa-sm"></i><span>Impression</span>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="search-window <%= 'appear' if params[:category] %>">
    <%= simple_form_for :search, html: { class: 'search-patient-form' },  url: dashboard_path, method: :get do |f| %>
      <i class="fas fa-times" id="close"></i>
      <div class="search-form-control form-group form-search search-right" id= "search-right" data-patients="<%= @filterpatients.to_json %>">
        <input class="form-control string required search-input" type="text" name="search[query]" id="search_right_query" placeholder="Patient"/>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search" id="search-patient"></i> </button>
      </div>
    <% end %>

    <div id="list-of-patients-rightbar">
      <%= render 'shared/list-of-patients' %>
    </div>

  </div>
</div>
