<div class="dashboard-container">
  <div class="container-dashboard">
    <div class="card-product" id= "welcome-message">
      <div class="card-product-infos">
        <h2>Bonjour <%= current_user.first_name %></h2>
        <p>Passez une belle journée !</p>
      </div>
      <img src="https://cdn.dribbble.com/users/1355613/screenshots/6637974/doctor.jpg" />
    </div>

    <div class="dashboard-action">
      <div class="card-dashboard">

        <div class="card-category-dashboard">
          <i class="fas fa-dove" id="labour-icon"></i>
          <div class="box-number">
            <p><%= current_user.labours.count %> Accouchements</p>
          </div>
        </div>

        <div class="card-category-dashboard">
          <i class="fas fa-user-injured"></i>
          <div class="box-patients">
            <p> <%= current_user.labours.last.patient.babies.count %> Patients</p>
          </div>
        </div>

        <div class="card-category-dashboard">
          <i class="fas fa-star-of-life" id="life-icon"></i>
          <div class="box-number-baby">
            <p>Naissances</p>
          </div>
        </div>
      </div>

      <div class="buttons">
        <%= link_to(dashboard_path) do %>
          <button type="button" class="button-action1">
            <i class="fas fa-user-plus fa-3x"></i>
            <p>Admission</p>
          </button>
        <% end %>

        <%= link_to(dashboard_path) do %>
          <button type="button" class="button-action2">
            <i class="fas fa-stethoscope fa-3x"></i>
            <p>Consultation</p>
          </button>
        <% end %>

        <button type="button" class="button-action3">
          <% if params[:category] %>
            <%= link_to dashboard_path do %>
              <i class="fas fa-baby fa-3x"></i>
              <p> Naissance </p>
            <% end %>
          <% else %>
            <%= link_to dashboard_path(category: "Naissance")  do %>
              <i class="fas fa-baby fa-3x"></i>
              <p> Naissance </p>
            <% end %>
          <% end %>
        </button>

        <%= link_to(dashboard_path) do %>
          <button type="button" class="button-action4">
            <i class="fas fa-clinic-medical fa-3x"></i>
            <p>Hospitalisation</p>
          </button>
        <% end %>

        <%= link_to(dashboard_path) do %>
          <button type="button" class="button-action5">
            <i class="fas fa-prescription-bottle-alt fa-3x"></i>
            <p>Ordonnance</p>
          </button>
        <% end %>

        <%= link_to(dashboard_path) do %>
          <button type="button" class="button-action6">
            <i class="fas fa-print fa-3x"></i>
            <p>Impression</p>
          </button>
        <% end %>
      </div>
    </div>

  <div class="search-window <%= 'appear' if params[:category] %>">
    <%= simple_form_for :search, url: dashboard_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Recherche"/>
        <button name="button" type="submit" class="btn btn-flat" >
          <i class="fas fa-search"></i> </button>
      </div>
    <% end %>
    <% @patients.each do |patient| %>
      <div class="cards-window">
        <%= link_to new_labour_path(patient_id:patient.id, category:params[:category]) do %>
          <div class="card-patient-window">
            <div class="user"><i class="far fa-user fa-lg"></i></div>
            <div class="patient-info">
              <ul>
                <li class="patient-name">
                  <%= patient.first_name %>
                  <%= patient.last_name %>
                </li>
                <li><%= patient.birth_date %></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

