<div class="logo-container">
  <%= image_tag "logo.png", alt: "easycare logo", class: "logo" %>
</div>
<div class="container">
  <div class="wrapper home">
    <div class="half">
      <div class="half-text">
        <%= image_tag "Logo-violet.png", alt: "logo violet", class: "logo-violet" %>
        <p>le nouveau tableau de bord indispensable à toutes les sages-femmes!</p>
        <%= link_to "Connexion", new_user_session_path, class: "btn btn-flat", id: "btn-home" %>
      </div>
    </div>
    <div class="half" style="background-image: url(<%= image_path 'happy-pregnant-woman-consulting.jpg' %>);">
    </div>
  </div>

  <div class="main-services">
    <h3 style="text-align: center">- Nos services -</h3>
    <div class="cards">
      <div class="card-category">
        <i class="fas fa-laptop-medical"></i>
        <hr></hr>
        <p>All activities in one solution</p>
      </div>
      <div class="card-category">
        <%= image_tag "one-click-icon.png", alt: "one-click", class: "one-click" %>
        <hr></hr>
        <p>Perform daily activities in one-click</p>
      </div>
      <div class="card-category">
        <i class="far fa-calendar-alt"></i>
        <hr></hr>
        <p>Easy schedule</p>
      </div>
    </div>
  </div>

  <div class="wrapper home">
    <div class="half" style="background-image: url(<%= image_path 'home-img-form.jpg' %>);">
    </div>
    <div class="half">
      <div class="half-text">
        <h3>Une solution simple et accessible</h3>
        <p>Le dashboard EasyCare reprend les principes d'utilisation les plus efficaces et partagés dans le monde. Notre ambition est de fournir l'expérience client la plus juste, tout en respectant la variété de données disponibles.</p>
        <p>Cela permet d'éviter les frustrations d'une formation utilisateur</p>
        <div class="btn btn-flat" id="contact-us">Contactez nous</div>
      </div>
    </div>
  </div>
</div>

