<div class= "container">
  <div class="title"><h2>Patientes</h2></div>
  
  <div class="cards-index">
    <% @patients.each do |patient| %>
      <div class="card-patient">
        <%= link_to(patient_path(patient.id)) do %>
        <div class="card-title">
          <h3><%= "#{patient.first_name} #{patient.last_name}" %></h3>
        </div>
        <% end %>
        <ul>
          <li><%= patient.age %> ans</li>
          <li><%= patient.birth_date %></li>
          <li><%= patient.nss %></li>
          <li><%= patient.number_of_weeks %> semaines</li>
        </ul>
      </div>
    <% end %>
  </div>
