<div class= "container">
  <h1>C'est un nouvelle naissance</h1>
  <div class="card">
    <h2>Nom: <%= @patient.first_name %></h2>
    <h2>Prénom: <%= @patient.last_name %></h2>
    <h2>Age: <%= @patient.age %></h2>
    <h3>Numéro de sécurité social: <%= @patient.nss %></h3>
    <p>Nombre de semaine: <%= @patient.number_of_weeks %> mois</p>
  </div>
  <div class="card-highlights">
    <h2>Rien à signaler</h2>
  </div>
</div>
