 <div class="dashboard-container">
  <div class="container-dashboard">
    <div class="card-product" id= "patient-info">
      <div class="card-infos">
        <span class="badge">Enceinte</span>
        <span class="badge2"><i class="far fa-clock"></i> <%= @patient.number_of_weeks %> semaines</span>
        <h2><%= "#{@patient.first_name} #{@patient.last_name}" %></h2>
        <% d = @patient.birth_date %>
        <% age = d.strftime("%d/%m/%y") %>
        <p><%= "#{@patient.age} ans (#{age})" %></p>
        <p><i class="far fa-address-card"></i> <%= @patient.nss %></p>
        <p><i class="fas fa-vial"></i> <%= @patient.blood_group %> </p>
      </div>
      <%= image_tag "pregnant.jpg" %>
    </div>

    <% if !params[:category] %>

    <div class="content-below-card">
      <div class="patient-babies">
        <% if @patient.babies.any? %>
          <% @patient.babies.each do |baby| %>
            <div class="card-product-baby" id="baby-info">
              <div class="card-product-baby-info">
                <h2><%= "Prénom: #{baby.first_name} Nom: #{baby.last_name}" %></h2>
                <p><%= "Né(e) le: #{baby.birth_date.strftime("%-d %b %Y")}" %></p>
                <p><i class="fas fa-venus-mars"></i> <%= "Sexe: #{baby.sex}"%></p>
                <p><i class="fas fa-weight"></i> <%= "Poids: #{baby.weight} kg" %></p>
                <p><i class="fas fa-arrows-alt-v"></i> <%= "Taille: #{baby.heigh} cm" %></p>
              </div>
              <%= image_tag "motherhood.png" %>
            </div>
            <% end %>
          <% else %>
            <div class="card-product-baby" id="baby-info">
              <div class="card-product-baby-info">
                <h2>Information du bébé:</h2>
                <p> Encore un peu tôt ! (Seulement <%=@patient.number_of_weeks%> semaines)</p> 
              </div>
              <%= image_tag "motherhood.png" %>
            </div>
        <% end %>

        
        <div class="card-product-labour" id="labour-info">
          <h2> Historique : </h2>
            <p> Accouchement: <%= @labour.labour_end_at %> </p>
            <p> </p>
        </div>
        

      </div>

      <div class="buttons">
        <%= link_to(patient_path) do %>
          <button type="button" class="button-action1">
            <i class="fas fa-user-plus fa-sm"></i><span>Admission</span>
          </button>
        <% end %>

        <%= link_to(patient_path) do %>
          <button type="button" class="button-action2">
            <i class="fas fa-stethoscope fa-sm"></i><span>Consultation</span>
          </button>
        <% end %>

        <% @categories.each do |categorie|%>
          <% if categorie.name == "Naissance"%>
              <% @naissance = categorie %>
              <%= link_to patient_path(category: @naissance.id) do %>
                <button type="button" class="button-action3">
                  <i class="fas fa-baby fa-sm"></i><span>Naissance</span>
                </button>
              <% end %>
          <% end %>
        <% end %>

        <%= link_to(patient_path) do %>
          <button type="button" class="button-action4">
            <i class="fas fa-clinic-medical fa-sm"></i><span>Hospitalisation</span>
          </button>
        <% end %>

        <%= link_to(patient_path) do %>
          <button type="button" class="button-action5">
            <i class="fas fa-prescription-bottle-alt fa-sm"></i><span>Pharmacie</span>
          </button>
        <% end %>

        <%= link_to(patient_path) do %>
          <button type="button" class="button-action6">
            <i class="fas fa-print fa-sm"></i><span>Impression</span>
          </button>
        <% end %>
      </div>
    </div>

  </div>

    <% else %>

      <div class="container-labourform" id="msform">
        <ul id="progressbar">
          <li class="present" data-bar="1"><p>Accouchement</p></li>
          <li data-bar="2"><p>Anésthésie</p></li>
          <li data-bar="3"><p>Délivrance</p></li>
          <li data-bar="4"><p>Nouveau né</p></li>
        </ul>
 
      <%= simple_form_for @labour do |f| %>
        <fieldset class= "form_step active" data-step="1">
          <h3 class="fs-title">Résumé de l'accouchement</h3>
          <%= f.hidden_field :patient_id  %>
          <%= f.hidden_field :category_id %>
          <%= f.input :labour_start_at,
                      as: :string,
                      label: "Début de l'accouchement",
                      input_html: {class: "datetime-picker"}%>
          <%= f.input :labour_start,
                      collection:Labour::LABOUR_START,
                      include_hidden: false,
                      label: 'Mode de début du travail',
                      as: :radio_buttons,
                      input_html: { class: "tag-selector" },
                      item_wrapper_class: 'tag-item' %>
          <%= f.input :labour_end_at,
                      as: :string,
                      label: "Fin de l'accouchement",
                      input_html: {class: "datetime-picker"} %>
          <%# Partie déclenchement artificel %>
          <div class="labour-wrap">
            <div id= "artificial-labour">
              <%= f.input :artificial_labour, label: 'Motif de déclenchement artificiel', as: :select, input_html: { class: "select2" }, collection: Labour::ARTIFICIAL_LABOUR, include_hidden: false%>
            </div>
            <%# ------------Partie codes------------- %>
            <%= f.simple_fields_for :labour_codes do |l| %>
              <div id="travail-spontane-checkbox">
                <%= l.input :code_id, as: :check_boxes, include_blank: :false, collection: Code.where(category: "Travail spontané") %>
                <%= l.input :diagnostic %>
              </div>
              <div id="cesarienne-checkbox">
                <%= l.input :code_id, as: :check_boxes, include_blank: :false, collection: Code.where(category: "Césarienne") %>
                <%= l.input :diagnostic, label: "Diagnostique :", placeholder: "Écrivez votres diagnostique" %>
              </div>
            <% end %>
          </div>

          <%# Pharmacie %>
          <div id= "labour_drugs">
            <%= f.input :labour_drugs, label: 'Moyens utilisés', as: :check_boxes, collection: Labour::LABOUR_DRUGS, include_hidden: false %>
          </div>
          <%# ------------Partie codes------------- %>
          <%= f.simple_fields_for :labour_codes do |l| %>
            <div id="pharmacie-checkbox">
              <%= l.input :code_id, as: :check_boxes, include_blank: :false, collection: Code.where(category: "Pharmacie") %>
              <%= l.input :diagnostic %>
            </div>
          <% end %>
          <div class="container-button-1">
            <div>
              <button type= "button", class= "btn btn-ghost next" >Étape suivante</button>
            </div>
          </div>
        </fieldset>

        <fieldset class= "form_step" data-step="2">
          <h3 class="fs-title">Anésthésie</h3>

          <div id= "anaesthesia">
            <%= f.input :anaesthesia, label: 'Anésthésie', as: :radio_buttons, radio_buttons_style: :inline, collection: ['oui', 'non'] %>
          </div>
          <div id= "category-anesthesia">
            <%= f.input :anaesthesia_category,
                        label: 'Type d\'anésthésie',
                        as: :radio_buttons,
                        collection: Labour::ANAESTHESIA_CATEGORY,
                        include_hidden: false,
                        input_html: { class: "tag-selector" },
                        item_wrapper_class: 'tag-item' %>
          </div>

          <%# Anésthésie loco-générale %>
          <div id= "anesthesia-loco-general">
            <%= f.input :anaesthesia_loco_general, label: 'Anésthésie loco-régionale',  as: :select, collection: Labour::ANAESTHESIA_LOCO_GENERAL, include_hidden: false %>
          </div>

          <%# Anésthésie générale %>
          <div id= "anesthesia-general">
            <%= f.input :anaesthesia_general,  label: 'Anésthésie générale', as: :select, collection: Labour::ANAESTHESIA_GENERAL, include_hidden: false %>
          </div>

          <%# Moment de l'anésthesie %>
          <div id= "moment-anesthesia">
            <%= f.input :anaesthesia_moment, label: 'Moment de l\'anésthésie', as: :select, collection: Labour::ANAESTHESIA_MOMENT, include_hidden: false %>
          </div>

          <div id= "anaesthesia_complication">
            <%= f.input :anaesthesia_complication, as: :radio_buttons, collection: ['oui', 'non'] %>
          </div>

          <%# ------------Partie codes------------- %>
          <%= f.simple_fields_for :labour_codes do |l| %>
            <div id="anesthia-checkbox">
              <%= l.input :code_id, as: :check_boxes, include_blank: :false, collection: Code.where(category: "Acte") %>
              <%= l.input :diagnostic %>
            </div>
          <% end %>
          <div class="container-button">
            <button type= "button", class= "btn btn-ghost previous" >Retour</button>
            <button type= "button", class= "btn btn-ghost next" >Étape suivante</button>
          </div>
        </fieldset>

        <fieldset class= "form_step" data-step="3">
          <h3 class="fs-title">Délivrance</h3>
          <%# Délivrance %>
          <%= f.input :labour_end, label: 'Type et modalité de la délivrance', as: :check_boxes, collection: Labour::LABOUR_END, include_hidden: false %>

          <%# Partie complications %>
          <div id= "complications">
            <%= f.input :labour_complication, label: 'Complications', as: :radio_buttons, collection: ['oui', 'non'] %>
          </div>
          <%# Complications %>
          <div id= "complication-type">
            <%= f.input :labour_complication_type, label: 'Complications de la délivrance', as: :check_boxes, collection: Labour::LABOUR_COMPLICATION_TYPE, include_hidden: false %>
          </div>

          <%# ------------Partie codes------------- %>
          <%= f.simple_fields_for :labour_codes do |l| %>
            <div id="complication-checkbox">
              <%= l.input :code_id, as: :check_boxes, include_blank: :false, collection: Code.where(category: "Complication") %>
              <%= l.input :diagnostic %>
            </div>
          <% end %>

          <%# Actes %>
          <div id= "actes">
            <%= f.input :labour_actes_done, label: 'Actes', as: :radio_buttons, collection: ['oui', 'non'] %>
          </div>

          <%# Actes de la délivrance %>
          <div id= "labour-actes">
            <%= f.input :labour_actes, label: 'Actes de la délivrance', as: :check_boxes, collection: Labour::LABOUR_ACTES, include_hidden: false %>
          </div>

          <%# ------------Partie codes------------- %>
          <%= f.simple_fields_for :labour_codes do |l| %>
            <div id="delivrance-checkbox">
              <%= l.input :code_id, as: :check_boxes, include_blank: :false, collection: Code.where(category: "Acte") %>
              <%= l.input :diagnostic %>
            </div>
          <% end %>
          <div class="container-button">
            <button type= "button", class= "btn btn-ghost previous" >Retour</button>
            <button type= "button", class= "btn btn-ghost next" >Étape suivante</button>
          </div>
        </fieldset>

        <fieldset class= "form_step" data-step="4">

          <h3 class="fs-title">Informations du bébé</h3>

          <%= f.simple_fields_for :baby, @baby do |p| %>
              <div class="baby-prenom-nom">
                <%= p.input :first_name, label: "Prénom" %>
                <%= p.input :last_name,  label: "Nom de Famille" %>
              </div>
                <%= p.input :sex, 
                            as: :radio_buttons, 
                            collection: Baby::SEX ,label: "Sexe"  %>
                <%= p.input :birth_date,  
                            label: "Date et heure de naissance",
                            as: :string,
                            input_html: {class: "datetime-picker"}%>

                <div id= "weightrange">
                  <%= p.input :weight, 
                              as: :range,
                              label: "Poids (kg)",
                              input_html: {min: 1, max: 10, step: 0.1}%>           
                </div>
                <br>
                <div id= "heightrange">
                  <%= p.input :heigh, 
                            as: :range,
                            label: "Taille",
                            input_html: {min: 20, max: 65, step: 1} %>
                </div>
                <br>
                <div id= "headtrange">
                  <%= p.input :head_circumference,
                            as: :range,  
                            label: "Périmètre crânien",
                            input_html: {min: 30, max: 45, step: 1}
                            %>
                </div>
                <br>
                <%# Partie monitoring %>
                <div id="monitoring">
                    <%= p.input :monitoring,  
                                label: "Monitorage", 
                                as: :check_boxes, 
                                collection: ['oui', 'non'] %>
                </div>
                <div id="monitoring-options">
                  <%= p.input :monitoring_options, collection: Baby::MONITORINGOPTIONS, as: :check_boxes, label: "Type de monitorage", input_html: { multiple: true }, include_hidden: false  %>
                </div>
                <%# ------------Partie codes------------- %>
                <%= f.simple_fields_for :labour_codes do |l| %>
                  <div id="monitoring-checkbox">
                    <%= l.input :code_id, as: :check_boxes, include_blank: :false, collection: Code.where(category: "Complication") %>
                    <%= l.input :diagnostic %>
                  </div>
                <% end %>

                <%# Partie réanimation %>
                <div id="intensivecare">
                  <%= p.input :intensivecare,  label: "Réanimation", as: :radio_buttons, collection: ['oui', 'non'] %>
                </div>
                <div id="intensivecare-options">
                  <%= p.input :intensivecare_options, collection: Baby::INTENSIVECAREOPTIONS, as: :check_boxes, label: "Actes de réanimation", input_html: { multiple: true }, include_hidden: false  %>
                </div>
                <%# ------------Partie codes------------- %>
                <%= f.simple_fields_for :labour_codes do |l| %>
                  <div id="intensivecare-checkbox">
                    <%= l.input :code_id, as: :check_boxes, include_blank: :false, collection: Code.where(category: "Complication") %>
                    <%= l.input :diagnostic %>
                  </div>
                <% end %>

                <%# Partie infections %>
                <div id="infections">
                  <%= p.input :infectiouscontext,  label: "Infections", as: :radio_buttons, collection: ['oui', 'non']  %>
                </div>
                <div id="infections-options">
                  <%= p.input :infectiouscontext_options, collection: Baby::INFECTIOUSCONTEXTOPTIONS, as: :check_boxes, label: "Types d'infections", input_html: { multiple: true }, include_hidden: false  %>
                </div>
                <%# ------------Partie codes------------- %>
                <%= f.simple_fields_for :labour_codes do |l| %>
                  <div id="infections-checkbox">
                    <%= l.input :code_id, as: :check_boxes, include_blank: :false, collection: Code.where(category: "Complication") %>
                    <%= l.input :diagnostic %>
                  </div>
                <% end %>

                <%# Partie pathologies %>
                <div id="malformation">
                  <%= p.input :malformation,  label: "Malformation", as: :check_boxes, collection: ['oui', 'non']   %>
                </div>
                <div id="pathology">
                  <%= p.input :pathology,  label: "Pathologies", as: :radio_buttons, collection: ['oui', 'non']   %>
                </div>

                <%# Partie sorties salle de naissance%>
                <%= p.input :breastfeeding, collection: Baby::BREASTFEEDING, label: "Allaitement", include_hidden: false, as: :radio_buttons, input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item' %>
                <%= p.input :exit_room, collection: Baby::EXITROOM, label: "Sortie de la salle de naissance", include_hidden: false, as: :radio_buttons, input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item' %>
          
            <div class="container-button">
              <button type= "button", class= "btn btn-ghost previous" >Retour</button>
              <%= f.button :submit,
                            name: "Enregistrer la naissance",
                            class: "btn btn-ghost",
                            value: "Enregistrer la naissance" %>
            </div>
          <% end %>
        </fieldset>
      <% end %>
  
    <% end %>
  </div>
</div>

