<div class= "container">
  <h1>C'est un nouvelle naissance</h1>
  <div class="card">
    <h2>Nom: <%= @patient.first_name %></h2>
    <h2>Prénom: <%= @patient.last_name %></h2>
    <h2>Age: <%= @patient.age %></h2>
    <h3>Numéro de sécurité social: <%= @patient.nss %></h3>
    <p>Nombre de semaine: <%= @patient.number_of_weeks %> mois</p>
  </div>
  <div class="card-highlights">
    <h2>Rien à signaler</h2>
  </div>

  <div class="form_wrapper">
    <%= simple_form_for(@patient, @action) do |p| %>
      <div class="part1">
        <%= f.input :name %>
        <%= f.input :code %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.submit %>
      </div>
      <div class="part2">
        <%= f.input :startoflabour %>
        <%= f.input :code %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.submit %>
      </div>
      <div class="part3">
        <%= f.input :labourdate %>
        <%= f.input :code %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.submit %>
      </div>
      <div class="part4">
        <%= f.input :drugslabour %>
        <%= f.input :code %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.submit %>
      </div>
      <div class="part5">
        <%= f.input :endoflabour %>
        <%= f.input :code %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>

