<div class="dashboard-container">
  <div class="container-dashboard">
    <div class="card-product" id= "patient-info">
      <div class="card-infos">
        <span class="badge">Enceinte</span>
        <span class="badge2"><i class="far fa-clock"></i> <%= @patient.number_of_weeks %> semaines</span>
        <h2><%= "#{@patient.first_name} #{@patient.last_name}" %></h2>
        <% d = @patient.birth_date %>
        <% age = d.strftime("%d/%m/%y") %>
        <p><%= "#{@patient.age} ans (#{age})" %></p>
        <p><i class="far fa-address-card"></i> <%= @patient.nss %></p>
        <p><i class="fas fa-vial"></i> <%= @patient.blood_group %> </p>
      </div>
      <%= image_tag "pregnant.jpg" %>
    </div>
    <% if !params[:category] %>
      <div class="content-below-card">
        <div class="left-content">
          <div class="patient-babies">
            <% if @patient.babies.any? %>
              <% @patient.babies.each do |baby| %>
                <div class="card-product-baby" id="baby-info">
                  <div class="card-product-baby-info">
                    <h2>Prénom: <span><%= "#{baby.first_name}" %></span></h2>
                    <h2>Nom: <span><%= "#{baby.last_name}" %></span></h2>
                    <div class="baby-info">
                      <div class="left-info">
                        <p><%= "Né(e) le: #{baby.birth_date.strftime("%-d %b %Y")}" %></p>
                        <p><i class="fas fa-venus-mars"></i> <%= "Sexe: #{baby.sex}"%></p>
                      </div>
                      <div class="right-info">
                        <p><i class="fas fa-weight"></i> <%= "Poids: #{baby.weight} kg" %></p>
                        <p><i class="fas fa-arrows-alt-v"></i> <%= "Taille: #{baby.heigh} cm" %></p>
                      </div>
                    </div>
                  </div>
                  <%= image_tag "motherhood.png" %>
                </div>
                <div class="card-product-labour" id="labour-info">
                  <h2>Infos accouchement</h2>
                </div>
              <% end %>
            <% else %>
              <div class="card-product-baby" id="baby-info">
                <div class="card-product-baby-info">
                  <h2>Infos du bébé</h2>
                  <p> Encore un peu tôt !</p>
                  <!-- <p>(Seulement <%=@patient.number_of_weeks%> semaines)</p> -->
                </div>
                <%= image_tag "motherhood.png" %>
              </div>
              <div class="card-product-labour" id="labour-info">
                <h2>Infos accouchement</h2>
                <p>A venir !</p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="right-content">
          <div class="buttons-show">
            <%= link_to(patient_path) do %>
              <button type="button" class="button-action1">
                <i class="fas fa-user-plus fa-sm"></i><span>Admission</span>
              </button>
            <% end %>

            <%= link_to(patient_path) do %>
              <button type="button" class="button-action2">
                <i class="fas fa-stethoscope fa-sm"></i><span>Consultation</span>
              </button>
            <% end %>

            <% @categories.each do |categorie|%>
              <% if categorie.name == "Naissance"%>
                  <% @naissance = categorie %>
                  <%= link_to patient_path(category: @naissance.id) do %>
                    <button type="button" class="button-action3">
                      <i class="fas fa-baby fa-sm"></i><span>Naissance</span>
                    </button>
                  <% end %>
              <% end %>
            <% end %>

            <%= link_to(patient_path) do %>
              <button type="button" class="button-action4">
                <i class="fas fa-clinic-medical fa-sm"></i><span>Hospitalisation</span>
              </button>
            <% end %>

            <%= link_to(patient_path) do %>
              <button type="button" class="button-action5">
                <i class="fas fa-prescription-bottle-alt fa-sm"></i><span>Pharmacie</span>
              </button>
            <% end %>

            <%= link_to(patient_path) do %>
              <button type="button" class="button-action6">
                <i class="fas fa-print fa-sm"></i><span>Impression</span>
              </button>
            <% end %>
          </div>
        </div>
      </div>

  <% else %>

      <div class="container-labourform" id="msform">
        <ul id="progressbar">
          <li class="present" data-bar="1"><p>Accouchement</p></li>
          <li data-bar="2"><p>Anesthésie</p></li>
          <li data-bar="3"><p>Délivrance</p></li>
          <li data-bar="4"><p>Nouveau-né</p></li>
        </ul>

        <%= simple_form_for @labour do |f| %>
          <fieldset class= "form_step active" data-step="1">
            <h3 class="fs-title">Résumé de l'accouchement</h3>

            <%= f.hidden_field :patient_id  %>
            <%= f.hidden_field :category_id %>

            <%= f.input :labour_start_at,
                        as: :string,
                        label: "Début de l'accouchement",
                        input_html: {class: "datetime-picker"}%>

            <%= f.input :labour_end_at,
                        as: :string,
                        label: "Fin de l'accouchement",
                        input_html: {class: "datetime-picker"} %>

            <%= f.input :labour_start,
                        collection:Labour::LABOUR_START,
                        include_hidden: false,
                        label: 'Mode de début du travail',
                        as: :radio_buttons,
                        input_html: { class: "tag-selector" },
                        item_wrapper_class: 'tag-item' %>

            <div class="labour-wrap d-none">
              <div class="labour-wrap d-none" id="form-step-0-labour-wrap">

                <%= f.simple_fields_for :labour_codes do |l| %>
                  <div id="travail-spontane-checkbox">
                    <%= l.input :code_id,
                                label: "Cochez les codes associés :",
                                as: :check_boxes,
                                include_blank: :false,
                                collection: Code.where(category: "Travail spontané") %>

                    <%= l.input :diagnostic,
                                label: "Diagnostique :",
                                placeholder: "Écrivez votre diagnostique" %>
                  </div>
                <% end %>
              </div>

              <div class="labour-wrap d-none" id="form-step-1-labour-wrap">

                <%= f.simple_fields_for :labour_codes do |l| %>
                  <div id="cesarienne-checkbox">
                    <%= l.input :code_id,
                                label: "Cochez les codes associés :",
                                as: :check_boxes,
                                include_blank: :false,
                                collection: Code.where(category: "Césarienne") %>

                    <%= l.input :diagnostic, label: "Diagnostique :", placeholder: "Écrivez votre diagnostique" %>
                  </div>
                <% end %>
              </div>

              <div id= "artificial-labour">
                <%= f.input :artificial_labour,
                            label: 'Motif de déclenchement artificiel',
                            as: :select,
                            input_html: { class: "select2" },
                            collection: Labour::ARTIFICIAL_LABOUR,
                            include_hidden: false%>
              </div>

              <div id="labour-drugs">
                <%= f.input :labour_drugs,
                            label: 'Moyens utilisés',
                            as: :check_boxes,
                            collection: Labour::LABOUR_DRUGS,
                            include_hidden: false %>
              </div>

              <%= f.simple_fields_for :labour_codes do |l| %>
                  <%= l.input :code_id,
                              label: "Cochez les codes associés :",
                              as: :check_boxes,
                              include_blank: :false,
                              collection: Code.where(category: "Pharmacie") %>

                  <%= l.input :diagnostic,
                              label: "Diagnostique :",
                              placeholder: "Écrivez votre diagnostique" %>
              <% end %>
            </div>

            <div class="container-button-1">
              <div>
                <button type= "button", class= "btn btn-ghost next" >Étape suivante</button>
              </div>
            </div>
          </fieldset>

          <fieldset class= "form_step" data-step="2">
            <h3 class="fs-title">Anésthésie</h3>
            <div id="anaesthesia">
              <%= f.input :anaesthesia,
                          label: 'Avez-vous du faire une anésthésie?',
                          as: :boolean,
                          input_html: { class: "toggle-yes-no"} %>
            </div>

            <div class="labour-wrap d-none" id="form-step-2-labour-wrap">
              <div class= "category-anesthesia">
                <%= f.input :anaesthesia_category,
                            label: 'Type d\'anésthésie',
                            as: :radio_buttons,
                            collection: Labour::ANAESTHESIA_CATEGORY,
                            include_hidden: false,
                            input_html: { class: "tag-selector" },
                            item_wrapper_class: 'tag-item' %>
              </div>

              <%# Anésthésie loco-générale %>
              <div id= "anesthesia-loco-general">
                <%= f.input :anaesthesia_loco_general, label: 'Anésthésie loco-régionale',  as: :select, collection: Labour::ANAESTHESIA_LOCO_GENERAL, include_hidden: false %>
              </div>

              <%# Anésthésie générale %>
              <div id= "anesthesia-general">
                <%= f.input :anaesthesia_general,  label: 'Anésthésie générale', as: :select, collection: Labour::ANAESTHESIA_GENERAL, include_hidden: false %>
              </div>

              <%# Moment de l'anésthesie %>
              <div id= "moment-anesthesia">
                <%= f.input :anaesthesia_moment, label: 'Moment de l\'anésthésie', as: :select, collection: Labour::ANAESTHESIA_MOMENT, include_hidden: false %>
              </div>

              <%# ------------Partie codes------------- %>
              <%= f.simple_fields_for :labour_codes do |l| %>
                <div id="anesthia-checkbox">
                  <%= l.input :code_id, label: "Cochez les codes associés :", as: :check_boxes, include_blank: :false, collection: Code.where(category: "Acte") %>
                  <%= l.input :diagnostic, label: "Diagnostique :", placeholder: "Écrivez votre diagnostique" %>
                </div>
              <% end %>
            </div>


            <div class="container-button">
              <button type= "button", class= "btn btn-ghost previous", id="btn-previous" >Retour</button>
              <button type= "button", class= "btn btn-ghost next" >Étape suivante</button>
            </div>
          </fieldset>

          <fieldset class= "form_step" data-step="3">
            <h3 class="fs-title">Délivrance</h3>

            <%# -----Délivrance----------------------------------- %>

            <%= f.input :labour_end, label: 'Type et modalité de la délivrance', as: :check_boxes, collection: Labour::LABOUR_END, include_hidden: false %>

            <div id= "complications">
              <%= f.input :labour_complication,
                          label: 'Y-a t-il eu des complications?',
                          as: :boolean,
                          input_html: { class: "toggle-yes-no", "data-id" => "form-step-3-labour-wrap" } %>
            </div>

            <div class="labour-wrap d-none" id="form-step-3-labour-wrap">
                <%= f.input :labour_complication_type,
                            label: 'Complications de la délivrance',
                            as: :check_boxes, collection: Labour::LABOUR_COMPLICATION_TYPE, include_hidden: false %>

              <%= f.simple_fields_for :labour_codes do |l| %>
                  <%= l.input :code_id, label: "Cochez les codes associés :", as: :check_boxes, include_blank: :false, collection: Code.where(category: "Complication") %>
                  <%= l.input :diagnostic, label: "Diagnostique :", placeholder: "Écrivez votre diagnostique" %>
              <% end %>
            </div>

            <div id= "actes">
              <%= f.input :labour_actes_done,
                          as: :boolean,
                          label: "Avez-vous du effectuer des actes?",
                          input_html: { class: "toggle-yes-no",
                          "data-id" => "form-step-4-labour-wrap"} %>
            </div>
            <div class="labour-wrap d-none" id="form-step-4-labour-wrap">
                <%= f.input :labour_actes, label: 'Actes de la délivrance', as: :check_boxes, collection: Labour::LABOUR_ACTES, include_hidden: false %>

              <%= f.simple_fields_for :labour_codes do |l| %>
                  <%= l.input :code_id, label: "Cochez les codes associés :", as: :check_boxes, include_blank: :false, collection: Code.where(category: "Acte") %>
                  <%= l.input :diagnostic, label: "Diagnostique :", placeholder: "Écrivez votre diagnostique" %>
              <% end %>
            </div>

            <div class="container-button">
              <button type= "button", class= "btn btn-ghost previous" id="btn-previous" >Retour</button>
              <button type= "button", class= "btn btn-ghost next" >Étape suivante</button>
            </div>
          </fieldset>

          <fieldset class= "form_step" data-step="4">

            <h3 class="fs-title">Informations du bébé</h3>

            <%= f.simple_fields_for :baby, @baby do |p| %>
                <div class="baby-prenom-nom">
                  <%= p.input :first_name, label: "Prénom" %>
                  <%= p.input :last_name,  label: "Nom de Famille" %>
                </div>

                  <%= p.input :sex,
                            as: :radio_buttons,
                            label: "Sexe",
                            collection_wrapper_tag: 'div',
                            collection_wrapper_class: 'category-wrapper',
                            item_wrapper_class: 'category-item',
                            input_html: {class: 'category-selector'},
                            collection: Baby::SEX %>

                  <%= p.input :birth_date,
                            label: "Date et heure de naissance",
                            as: :string,
                            input_html: {class: "datetime-picker"}%>

                    <%= p.input :weight,
                                label: "Poids (kg)",
                                input_html: {min: 1, max: 10, step: 0.1}%>
                  <br>
                    <%= p.input :heigh,
                              label: "Taille",
                              input_html: {min: 20, max: 65, step: 1} %>
                  <br>
                    <%= p.input :head_circumference,
                              label: "Périmètre crânien",
                              input_html: {min: 30, max: 45, step: 1}%>
                  <br>
                  <%# Partie monitoring %>
                      <%= p.input :monitoring,
                                  label: "Avez vous effectué un monitorage?",
                                  as: :boolean,
                                  input_html: { class: "toggle-yes-no", "data-id" => "form-step-5-labour-wrap"} %>

                  <div class="labour-wrap d-none" id="form-step-5-labour-wrap">
                      <%= p.input :monitoring_options, collection: Baby::MONITORINGOPTIONS, as: :check_boxes, label: "Type de monitorage", input_html: { multiple: true }, include_hidden: false  %>

                    <%= f.simple_fields_for :labour_codes do |l| %>
                        <%= l.input :code_id, label: "Cochez les codes associés :", as: :check_boxes, include_blank: :false, collection: Code.where(category: "Complication") %>
                        <%= l.input :diagnostic %>
                    <% end %>
                  </div>

                  <%# Partie réanimation %>
                    <%= p.input :intensivecare,
                                label: "Avez vous effectué un réanimation?",
                                as: :boolean,
                                input_html: { class: "toggle-yes-no", "data-id" => "form-step-6-labour-wrap"} %>

                  <div class="labour-wrap d-none" id="form-step-6-labour-wrap">
                      <%= p.input :intensivecare_options, collection: Baby::INTENSIVECAREOPTIONS, as: :check_boxes, label: "Actes de réanimation", input_html: { multiple: true }, include_hidden: false  %>
                    <%# ------------Partie codes------------- %>
                    <%= f.simple_fields_for :labour_codes do |l| %>
                        <%= l.input :code_id, label: "Cochez les codes associés :", as: :check_boxes, include_blank: :false, collection: Code.where(category: "Complication") %>
                        <%= l.input :diagnostic, label: "Diagnostique :", placeholder: "Écrivez votre diagnostique" %>
                    <% end %>
                  </div>

                  <%# Partie infections %>
                    <%= p.input :infectiouscontext,
                                label: "Avez-vous observé des infections chez le bébé?",
                                as: :boolean,
                                input_html: { class: "toggle-yes-no", "data-id" => "form-step-7-labour-wrap"} %>

                  <div class="labour-wrap d-none" id="form-step-7-labour-wrap">
                      <%= p.input :infectiouscontext_options, collection: Baby::INFECTIOUSCONTEXTOPTIONS, as: :check_boxes, label: "Types d'infections", input_html: { multiple: true }, include_hidden: false  %>

                    <%= f.simple_fields_for :labour_codes do |l| %>
                        <%= l.input :code_id, label: "Cochez les codes associés :", as: :check_boxes, include_blank: :false, collection: Code.where(category: "Complication") %>
                        <%= l.input :diagnostic, label: "Diagnostique :", placeholder: "Écrivez votre diagnostique" %>
                    <% end %>
                  </div>

                  <%# Partie pathologies %>
                    <%= p.input :malformation,
                                label: "Avez-vous observé des malformations chez le bébé?",
                                as: :boolean,
                                input_html: { class: "toggle-yes-no" } %>

                    <%= p.input :pathology,
                                label: "Avez-vous observé des pathologies chez le bébé?",
                                as: :boolean,
                                input_html: { class: "toggle-yes-no" } %>

                  <%= p.input :breastfeeding,
                              collection: Baby::BREASTFEEDING,
                              label: "Allaitement",
                              include_hidden: false,
                              as: :radio_buttons,
                              input_html: { class: "tag-selector" },
                              item_wrapper_class: 'tag-item' %>

                  <%= p.input :exit_room,
                              collection: Baby::EXITROOM,
                              label: "Sortie de la salle de naissance",
                              include_hidden: false,
                              as: :radio_buttons,
                              input_html: { class: "tag-selector" },
                              item_wrapper_class: 'tag-item' %>

              <div class="container-button">
                <button type= "button", class= "btn btn-ghost previous" id="btn-previous" >Retour</button>

                <%= f.button :submit,
                              name: "Enregistrer la naissance",
                              class: "btn btn-ghost",
                              value: "Enregistrer la naissance" %>
              </div>
            <% end %>
          </fieldset>
        <% end %>
      </div>
  <% end %>
</div>

