<div class="form_wrapper">
  <%= simple_form_for @baby do |f| %>
    <%= f.input :first_name, label: "Prénom" %>
    <%= f.input :last_name,  label: "Nom de Famille" %>
    <%= f.input :birth_date,  label: "Date et heure de naissance"  %>
    <%= f.input :diagnostic,  label: "Diagnostique"  %>
    <%= f.input :weight,  label: "Poids"  %>
    <%= f.input :heigh,  label: "Taille"  %>
    <%= f.input :head_circumference,  label: "Périmètre crânien"  %>
    <%= f.input :sex, collection: Baby::SEX ,label: "Sexe"  %>
    <%= f.input :monitoring,  label: "Monitorage"  %>
    <%= f.input :monitoring_options, collection: Baby::MONITORINGOPTIONS, label: "Types de monitorage (utiliser ctrl ou cmd pour une sélection multiple)", input_html: { multiple: true }  %>
    <%= f.input :intensivecare,  label: "Réanimation"  %>
    <%= f.input :intensivecare_options, collection: Baby::INTENSIVECAREOPTIONS, label: "Actes de réanimation (utiliser ctrl ou cmd pour une sélection multiple)", input_html: { multiple: true }  %>
    <%= f.input :malformation,  label: "Malformation"   %>
    <%= f.input :infectiouscontext,  label: "Infections"  %>
    <%= f.input :infectiouscontext_options, collection: Baby::INFECTIOUSCONTEXTOPTIONS, label: "Types d'infections (utiliser ctrl ou cmd pour une sélection multiple)", input_html: { multiple: true }  %>
    <%= f.input :exit_room, collection: Baby::EXITROOM, label: "Exit room"  %>
    <%= f.input :breastfeeding, collection: Baby::BREASTFEEDING, label: "Allaitement"  %>
    <%= f.input :pathologies, collection: Baby::PATHOLOGIES, label: "Pathologies (utiliser ctrl ou cmd pour une sélection multiple)", input_html: { multiple: true }  %>
    <%= f.submit 'Enregistrer naissance 👶' %>
  <% end %>
</div>
