<!DOCTYPE html>
<html>
  <head>
    <title>Carefree</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
  </head>
  <body>

   <% if current_user %>
    <div class="main-container">
    <%= render 'shared/sidebar' unless request.fullpath == "/" %>
    <div class="main-content">
    <%= render 'shared/topbar' unless request.fullpath == "/" %>
    <%= render 'shared/flashes' %>
    <% end %>
    <%= yield %>
    </div>
   </div>
  </body>
</html>
